.Basket {
    width: 80%;
    margin: 30px auto;

    display: flex;
    flex-direction: column;
    row-gap: 20px;
    /* background: #e2e2e2; */
}


.Basket__items {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    /* background: #e2e2e2; */
}


.BasketItem,
.BasketPromoInfo,
.BasketTotal {
    padding: 10px 20px;
}