.btn {
    padding: 5px 10px;
    background: rgb(0, 87, 250);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    transition: 0.2s all;
}

.btn:hover {
    background: rgb(58, 127, 255);
    cursor: pointer;
}


.btn:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 2px 1px rgba(0, 0, 0, 0.24);
}

.btn-proceed {
    padding: 10px 20px;
    display: block;
    width: 100%;
}