.Counter {
    width: 30%;
    line-height: 2em;
}

.Counter_into {
    margin: auto;
    width: 80%;
}

.Counter_input {
    width: 60px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid rgb(235, 235, 235);
}

.Counter_input:focus {
    outline: 1px solid rgb(204, 204, 204);
}